<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles/styles.css">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/scripts/app.js" defer></script>
  <title>To do</title>
</head>

<body>
  <div id="vueApp">
    <header id="main-header">
      <h1>To do list</h1>
    </header>
    <section id="user-input">
      <header>
        <h2>What do you need to do?</h2>
      </header>
      <input id="input" type="text" id="task" v-model="enteredValue" @keyup.enter="addTask"/>
      <button @click="addTask">Add a Task</button>
    </section>
    <section id="active-projects">
      <header>
        <h2>Active Projects</h2>
      </header>
      <p v-if="activeTasks.length === 0">
        No tasks have been added yet - please add some!
      </p>
      <ul id="active-projects-list" class="active-projects" v-else>
        <li id="active-projects" v-for="(task, index) in activeTasks" :key="task" class="card">
          <p>{{ task }}</p>
          <button @click="removeTaskToFinished(index)">Done</button>
        </li>
      </ul>
      <button @click="clearAllActive">Clear all</button>
    </section>
    <section id="finished-projects">
      <header>
        <h2>Done!</h2>
      </header>
      <p v-if="finishedTasks.length === 0">
        No tasks have been finished yet...
      </p>
      <ul  id="finished-projects-list" class="finished-projects" v-else>
        <li id="finished-projects" v-for="(task, index) in finishedTasks" :key="task" class="card">
          <p>{{ task }}</p>
          <button @click="reactivateTask(index)">Activate</button>
        </li>
      </ul>
      <button @click="clearAllFinished">Clear all</button>
    </section>
  </div>
</body>
</html>